

.description p { 
    margin: 0;
    font-size: 20px;
    z-index: -1;
    color: #ffffff;
}

.image-indicators img {
    width: 100%;
    border-radius: 10px;
    transition: width 0.4s ease, transform 0.4s ease;
}

.image-indicators label {
    display: flex;
    position: absolute;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 300ms;
    transition: opacity 0.3s ease-out .5s;
    z-index: 1;
}

.image-indicators>label>span {
    background-color: #2196f3;
    width: 15px;
    height: 15px;
    border-radius: 60px;
    transform: scale(1);
}

.image-indicators>label>span>span {
    display: inline-block;
    vertical-align: 20px;
    background-color: rgba(33, 150, 243, 1);
    width: 15px;
    height: 15px;
    transform: scale(0);
    border-radius: 60px;
    animation: scaleGrow 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation-play-state: running;
}

@keyframes scaleGrow {
    from {
        transform: scale(0);
        background-color: rgba(33, 150, 243, 1);
    }
    to {
        transform: scale(3);
        opacity: 0;
        
    }
}

@keyframes scaleDecreases {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

.point {
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    transition-property: width, height, left, top;
    transition-delay: 650ms;
}

.point:checked {
    top: -50% !important;
    left: -50% !important;
    width: 200%;
    height: 200%;
    z-index: 9;
}

.point:checked ~ label {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.3s ease-out 0s;
} 


.description {
    position: relative;
    max-height: none; /* Remove fixed height */
    //min-width: 100%; /* Ensure full width */
    overflow: visible; /* Allow text to expand */
    border-radius: 10px;
    padding: 10px 20px;
    margin: 1px 10px 10px;
    color: black;
    z-index: 1;
}

.description div {
    display: none;
}

.description div:first-child {
    display: block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 300ms;
    transition: opacity 0.3s ease-out .5s;
}

.description div:first-child p {
    color: #000000;
}

.description p {
    line-height: 1.5em;
}

.point:checked ~ .description {
    background: rgb(191 191 191 / 30%);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@for $i from 1 through 4 {
    $value: $i + 1;

    #label-#{$i} {
        top: var(--point-#{$i}-top);
        left: var(--point-#{$i}-left);
    }
    
    #point-#{$i} {
        left:var(--point-#{$i}-left);
        top: var(--point-#{$i}-top);
    }

    #point-#{$i}:checked ~ img {
        transform-origin: calc(var(--point-#{$i}-left)) calc(var(--point-#{$i}-top));
        transform: scale(var(--point-#{$i}-scale));
    }
    
    #point-#{$i}:hover ~ img {
        transform-origin: calc(var(--point-#{$i}-left)) calc(var(--point-#{$i}-top));
    }

    #point-#{$i}:checked ~ .description div:first-child {
        height: 0;
        opacity: 0;
        transition: opacity 0s ease-out 0s;
    }
    #point-#{$i}:checked ~ .description div:nth-child(#{$value}) {
        display: block;
    }
    
    #point-#{$i}:checked ~ .description div:nth-child(#{$value}) p:first-child {
        width: 0;
        opacity: 0;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: type2 2s steps(40, end);
        animation: type2 2s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        animation-play-state: running;
    }
    
    #point-#{$i}:checked ~ .description div:nth-child(#{$value}) p:nth-child(2) {
        width: 0;
        opacity: 0;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: type2 2s steps(40, end);
        animation: type2 2s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s;
        animation-play-state: running;
    }

        #point-#{$i}:checked ~ .description div:nth-child(#{$value}) p:nth-child(3) {
        width: 0;
        opacity: 0;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: type2 2s steps(40, end);
        animation: type2 2s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        -webkit-animation-delay: 4.5s;
        animation-delay: 4.5s;
        animation-play-state: running;
    }

    #point-#{$i}:checked ~ .description div:nth-child(#{$value}) p:nth-child(4) {
        width: 0;
        opacity: 0;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: type2 2s steps(40, end);
        animation: type2 2s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        -webkit-animation-delay: 6.5s;
        animation-delay: 6.5s;
        animation-play-state: running;
    }

}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 100%;
    border: none;
  }
}
